.mytabs {
    display: flex;
    border-radius: 5px;
}

.tabs {
    padding-bottom: 20px;
}

.tabsbutton {
    font-size: 12px;
    padding: 15px 0px 15px 0px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;  
}

.active {
    background-color: #2196F3;
    color: white;
}