fieldset {
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.filters-wrap {
  @media screen and (max-width: 770px) {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e5e5e5;
  }
}

.filters-items {
  padding-bottom: 10px;
}

.checkbox-wrap {
  height: 40px;
  font-size: 13px;
  padding: 10px 20px 10px 20px;
}

.checkbox-wrap:hover {
  background-color: #f1fcff;
}

.check {
  padding-left: 25px;
  display: block;
}

.check:hover {
  background-color: #f1fcff;
}

.checkInput {
  position: absolute;
  appearance: none;
}

.check__box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./checkbox.svg);
  margin-left: -2em;
}

.checkInput:checked + .check__box {
  background-image: url(./checkbox_checked.svg);
}

.filter-title {
  padding: 20px 10px 0px 20px;
  font-weight: 600;
  font-size: 12px;
}

.filters {
  background-color: #ffffff;
  margin-right: 20px;
  border-radius: 5px;
  @media screen and (max-width: 770px) {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

.divider {
  height: 100%;
  background-color: #e5e5e5;
}
